<div class="container text-center mt-10 border border-light rounded" style="padding: 80px;">
    <h1 class="mb-5">Choose Below Options For Registration</h1>
    <button class="btn btn-primary me-3" [routerLink]="['/DoctorRegister']">Doctor</button>
    <button class="btn btn-secondary" [routerLink]="['/register']">Patient</button>

    <div class="row mt-3">
        <div class="col mt-2">
            <span class="me-2">Already have Account ?</span><a  [routerLink]="['/login']">Login</a>
        </div>
    </div>
  </div>